@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-family: 'Heebo', sans-serif;
}

.footer {
  padding: 50px;
  text-align: center;
}

.footer .social-link__item {
  margin: 16px;
}

.footer .social-link__item:nth-child(1):hover svg path {
  fill: #1877F2;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .social-link__item:nth-child(2):hover svg path {
  fill: url(#my-cool-gradient);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .social-link__item:nth-child(3):hover svg path {
  fill: #1C9CEA;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .social-link__item:nth-child(4):hover svg path {
  fill: #0270AD;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .copyright {
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
  margin-top: 26px;
}

.hamburger-menu {
  padding: 16px;
  text-align: end;
}

.hamburger-menu svg {
  vertical-align: middle;
}

.mini-post {
  padding: 24px 20px;
  background-color: #FFFFFF;
  border-radius: 6px;
}

.mini-post__header {
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: #21243D;
}

.mini-post__snippet {
  font-size: 18px;
  line-height: 26px;
  color: #21243D;
  margin: 12px 0 16px;
}

.mini-post__snippet .vr-line {
  padding: 0 12px;
}

.mini-post__text {
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 30px 0 16px;
  border-bottom: 1px solid #E0E0E0;
}

.portfolio-item .portfolio-img {
  height: 180px;
  width: 246px;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-item .portfolio-img img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.portfolio-item .portfolio-description {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.portfolio-item .portfolio-description__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
}

.portfolio-item .portfolio-description__snippet .portfolio-year {
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  color: #FFFFFF;
  background: #142850;
  border-radius: 16px;
  padding: 2px 12px;
}

.portfolio-item .portfolio-description__snippet .portfolio-category {
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
  margin-left: 26px;
}

.portfolio-item .portfolio-description__article {
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}

.section-title {
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}

@media screen and (max-width: 600px) {
  .portfolio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-item .portfolio-img {
    width: 100%;
  }
  .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer {
    padding: 24px;
  }
}

.container {
  max-width: 1280px;
  margin: auto;
  padding-top: 26px;
}

.header {
  text-align: right;
}

.header .navbar-link {
  margin: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .navbar-link:hover {
  color: #FF6464;
}

.header .hamburger-menu {
  display: none;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 140px 0 70px;
}

.intro-information {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.intro-information__title {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
}

.intro-information__paragraph {
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
  margin: 36px 0;
}

.intro-information .resume-btn {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  padding: 12px 18px;
  background: #FF6464;
  border-radius: 6px;
  border: none;
}

.intro-img {
  width: 250px;
  height: 250px;
  position: relative;
}

.intro-img img {
  height: 100%;
  border-radius: 50%;
}

.intro-img svg {
  position: absolute;
  left: 0px;
  bottom: -10px;
  z-index: -1;
}

.recent-posts {
  background: #EDF7FA;
}

.recent-posts .container {
  padding: 26px 0;
}

.recent-posts .container .recent-posts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-posts .container .recent-posts__title a {
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #00A8CC;
}

.recent-posts .container .recent-posts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .intro-information {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding-right: 24px;
  }
}

@media screen and (max-width: 698px) {
  .navbar {
    display: none;
  }
  .hamburger-menu {
    display: block !important;
  }
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
    text-align: center;
    padding: 70px;
  }
  .recent-posts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header {
    position: fixed;
    height: 60px;
    width: 100%;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 2;
  }
}
/*# sourceMappingURL=main.css.map */