<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <title>Mini post</title>
</head>

<body>
    <div class="mini-post">
        <h4 class="mini-post__header">Making a design system from scratch</h4>
        <div class="mini-post__snippet">
            <time class="post-time">25.08.2001<time>
            <span class="vr-line">|</span>
            <span class="post-category">Design, Pattern</span>
        </div>
        <p class="mini-post__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
    </div>
</body>

</html>