<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <title>Portfolio list</title>
</head>
<body>
    <div class="portfolio-item">
        <div class="portfolio-img">
            <img src="https://picsum.photos/1000" alt="">
        </div>
        <div class="portfolio-description">
            <h4 class="portfolio-description__title">
                Designing Dashboards
            </h4>
            <div class="portfolio-description__snippet">
                <time class="portfolio-year">2020</time>
                <span class="portfolio-category">Dashboard</span>
            </div>
            <p class="portfolio-description__article">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
        </div>

    </div>
</body>
</html>